
/*01 *GENERAL*/



/*01 *GENERAL*/

body {
    background-color: #160f05;
    color: #e6bc7b;
    font-family: 'Cardo', serif;
    font-weight: 200;
    font-size: 17px;
    letter-spacing: 0.1px;
}

@font-face {
    font-family: "Prida01Light";
    src: url(fonts/gluk_prida01/Prida01Light.otf);
}

@font-face {
    font-family: "Cinzel-Regular";
    src: url(fonts/cinzel/Cinzel-Regular.ttf);
}

@font-face {
    font-family: "vintage";
    src: url(fonts/vintage/vintage.ttf);
}

@font-face {
    font-family: "bergamot";
    src: url(fonts/bergamot/bergamot.ttf);
}

/* HEADER / NAV BAR */

/*.page-header {
    position: relative;
    z-index: 3;
    background: white;
    padding: 20px;
    min-height: 99px;
    background-color: #352b1e;
}*/

.header-main_menu {
    background: #f4e5b7;
    box-shadow: inset 0 1px 3px rgba(245, 210, 105, 0.6);
    /*border-bottom: 1px solid #c8c4b9;*/
    text-align: center;
}

.header-main_menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    /*width:980px;*/
    /*display:inline-block;*/
}

.header-main_menu .tab {
    /*width: 25%;*/
    font-size: 14px;
    /*vertical-align: middle;
    text-align: center;*/
}

.header-main_menu .tab>a {
    width: 175px;
    font-family: 'Cardo', serif;
    padding: 0.6em;
    margin: 0 40px;
    border: 1px solid #dcb884;
    /*border-right: 1px solid #dcb884;*/
    text-decoration: none;
    text-transform: uppercase;
    color: #584831;
}

.header-main_menu .tab>a:hover {
	color: #f3951a;
	background-color: #f5ebd5;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

/*.header-main_menu .tab:last-child>a {
    border-right: 1px solid #dcb884;
}
*/
/*a {
    color: #af6300;
    transition: color 0.2s cubic-bezier(0.21, 0, 0.36, 1),background-color 0.2s cubic-bezier(0.21, 0, 0.36, 1);
}*/

/*.header-sub_menu > li > a > i {
	color: #9c6c25;
}*/

.ornament_icon {
    width: 19px;
    height: auto;
}

/*.clearfix {
	clear: both;
}
*/
/*.page-header>.row {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 60.625em;
}*/

.logo {
    width: 335px;
    height: 49px;
    display: block;
    background-image: url(probus-core.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 0;
}

.header-sub_menu {
	list-style: none;
	margin-left: auto;
}

.header-sub_menu a {
	color: #e6bc7b;
    text-transform: uppercase;
    font-size: .75em;
}

.header-sub_menu a:hover {
    text-decoration: none;
    color: #f3debe;
}

/*respo*/

.nav_button {
    border: 1px solid #c59659;
    box-shadow: 0 0 1px 1px #c59659;
}

.nav_button:focus {
  outline: none;
}

.stripes {
    width: 46px;
    height: 46px;
    border-radius: 8px;
}

.stripes1 {
    font-family: 'bergamot';
    font-size: 3em;
    color: #c59659;
}

.nav_button:hover {
    cursor: pointer !important;
}

/*.hidden-navigation {
	background-color: #352b1e;
	padding-left: 20px;
    padding-right: 20px;
    display:none;
}

.hidden-navigation>p {
	font-family: 'Cardo', serif;
	text-transform: uppercase;
	color: #dedacd;
	margin:0;
    line-height: 2.4em;
    float:left;
    transition: .25s;
}

.navicon {
    transition: all .25s cubic-bezier(0.21, 0, 0.36, 1);
    display: inline-block;
    position: relative;
    width: 2rem;
    height: .3125em;
    background: #eae9e1;
    border-radius: 2rem;
    float:right;
    margin-top: 1em;
}

.navicon:before {
	top: 7px;
    transition: all .125s cubic-bezier(0.21, 0, 0.36, 1);
    display: block;
    content: "";
    height: .3125em;
    width: 2rem;
    background: #eae9e1;
    position: absolute;
    border-radius: 1rem;
}

.navicon:after {
    top: -7px;
    transition: all .125s cubic-bezier(0.21, 0, 0.36, 1);
    display: block;
    content: "";
    height: .3125em;
    width: 2rem;
    background: #eae9e1;
    position: absolute;
    border-radius: 1rem;
}

.navicon:hover {
	cursor:pointer;
}

.hidden-navigation>p:hover {
	color:white;
	cursor:pointer;
	transition: .25s;
}*/


/*O NAMA*/

.probus_txt_holder {
    font-family: 'Cinzel-Regular', serif;
    font-size: 14px;
    letter-spacing: 3px;
}


/*VINA*/

.wines_title_holder {
    font-family: 'Cinzel-Regular', serif;
    letter-spacing: 6px;
    color: #f3951a;
}

.wines_ornament {
    font-family: 'bergamot';
    font-size: 3em;
    color: #f3951a;

}

.wine_type {
    font-family: 'Prida01Light', serif;
}

.wine_type_subtitle {
    font-family: 'Cinzel-Regular', serif;
}

.wine_txt {
    font-family: 'Cinzel-Regular', serif;
    font-size: 16px;
}

.bottle {
    max-height: 470px;
}

.tech_sheet_link {
    font-size: 18px;
    color: #f3951a;
}

.tech_sheet_link:hover {
    text-decoration: none;
    color: #e9d1af;
}


/*HEADER COVER IMGS*/

#content-header-change1 {
	width:100%;
    height:500px;
    background-image:url('images/cover.jpg');
	background-size:cover;
	background-position: center center;
    border-bottom: 1px solid #e6bc7b;
}

#content-header-change2 {
    width:100%;
    height:500px;
    background-image:url('images/plantaze.png');
    background-size:cover;
    background-position: 100% 32%;
    border-bottom: 1px solid #e6bc7b;
}

#content-header-change3 {
    width:100%;
    height:500px;
    background-image:url('images/vinary.jpg');
    background-size:cover;
    background-position: 100% 25%;
    border-bottom: 1px solid #e6bc7b;
}


/*GALLERY STYLE*/
.gallery-grid > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 2px solid #e6bc7b;
}

.gallery-grid {
    display: grid;
    margin: 50px 2%;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    grid-auto-rows: 190px;
    grid-auto-flow: dense;
}

.hor {
    grid-column: span 2;
}

.ver {
    grid-row: span 2;
}

.big {
    grid-column: span 2;
    grid-row: span 2;
}


/*CONTACT STYLE*/

div#contact-info {
    padding: 50px;
    color: #CAB58F;
}

.fa_contact {
    color: #e6bc7b;
    font-size: 25px;
}

.deco_line {
    width: 60%;
    height: auto;
}

div#contact-info p {
    font-size: 1.2rem;
}

div#map {
    height: 275px;
    filter: brightness(80%) contrast(130%) sepia(100%);
}

section.contact {
    margin: 60px;
    background-color: #352b1e;
    margin: 0;
    padding: 38px 0;
}

.contact_logo {
    width: 107px;
    height: auto;
}


/* FOOTER */

.footer-quick_links {
	background: #f4e5b7;
    border-top: 1px solid #c8c4b9;
}

.footer-quick_links a {
    color: #876025;
}

.footer-quick_links a:hover {
    text-decoration: none;
    color: #160f05;
}

.footer-main_menu {
	width: 100%;
    overflow: hidden;
    background: #dedacd;
    border-top: 1px solid #c8c4b9;
    text-align: center;
    background-color:#352b1e;
}

.footer-list2 {
	margin: 0;
    padding: 0;
    list-style: none;
    width:100%;
    display:inline-block;
    padding:12px;
}

.footer-list2 > li {
	margin-left:20px;
	margin-right:20px;
	display:inline-block;
}

.footer-list2 > li > a {
	color: #af8e62;
	font-family: Georgia, serif;
}

.footer-list2 > li > a:hover {
    color: #f3951a;
    text-decoration: none;
}

.footer-sub_footer {
	background-color:#352b1e;
	color: #8c7455;
	padding:20px;
}

.footer-logo {
	max-width: 350px;
    min-width: 267px;
    margin-top: -39px;
}

.footer-block > ul {
	padding:0;
	margin-bottom:4px;
}

.footer-block > ul > li {
	display:inline;
	padding:6px;
}

.footer-block > ul > li > a {
	color: #CAB58F;
    font-family: Georgia, serif;
    font-weight: normal;
    font-size: 0.9em;
}

.footer-block > ul > li > a:hover {
    color: #f3951a;
    text-decoration: none;
}

.ornament_icon1 {
    width: 17px;
    height: auto;
}

.footer-block p {
	color: #8c7455;
    font-size: 0.9em;
}

.copyright {
    margin-bottom:0;
    color: #af8e62 !important;
    font-size: 0.9em;
}

.footer-icons > a {
	color: #CAB58F;
	font-size: 1.3em;
	text-decoration: none;
}

.footer-icons > a:hover {
    color: #f3951a;
    text-decoration: none;
}


/*MEDIA QUERY*/

@media screen and (max-width: 993px) {
	/*.header-sub_menu {
		display:none;
	}*/

	/*.logo {
		margin-left:auto;
		margin-right:auto;
	}*/

	/*.hidden-navigation {
		display:block;
	}*/

	/*.header-main_menu {
		display:none;
	}*/

    .foot_order1 {
        order: 3;
    }

    .footer-logo {
        margin-top: -17px;
    }

}

@media screen and (max-width: 850px) {
    .gallery-grid {
        grid-gap: 20px;
    }

@media screen and (max-width: 500px) {
    .gallery-grid {
        grid-gap: 10px;
    }

    .hor {
        grid-column: span 1;
    }

    .big {
        grid-column: span 1;
        grid-row: span 2;
    }
}

@media screen and (max-width: 400px) {
    .logo {
        margin-left: 23px;
    }
}

@media screen and (max-width: 767px) {
	.footer-block {
		text-align:center;
	}

	.footer-middle {
		margin-top:30px;
	}

	.copyright {
		margin-top:30px;
	}

	.social-media {
		margin-top:30px;
	}
} 